In [1]:
print("hello world")

hello world

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
print('jan' , 'feb' , 'march' , sep = ',' , end = ',')

jan,feb,march,

In [4]:
print('april' , 'may' , 'june' , sep = ',' , end = ',')

april,may,june,

In [5]:
a =1
b=2
c=3
print(a)

1

In [6]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     1
b          int     2
c          int     3

In [6]:
name  = 'jim'
place = 'ludian'
print('hello %s how are you %s dkshfakljshfkla' % (name,place))

hello jim how are you ludian dkshfakljshfkla

In [3]:
del a

NameError: name 'a' is not defined

In [8]:
%whos

Variable   Type    Data/Info
----------------------------
b          int     2
c          int     3

In [7]:
name = 'amay'
place = 'india'
dogs = 4 

print('{} is great. He lives in {}. He saw {} dogs. ' .format(name, place, dogs))

amay is great. He lives in india. He saw 4 dogs.